body {
    box-sizing: none;
    padding: 0;
    margin: 0;
}

div {
    width: 100%;
    height: 197px;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Fleur De Leah', cursive;
    text-align: center;
    font-size: 125px;
    margin: 0;
}

button {
    margin-left: 630px;
    margin-top: 35px;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    border-color: #07f269;
    background-color: #07f269;
    font-family: 'Cormorant Garamond', serif;
    color: white;
}

button:hover {
    background-color: #04de5f;
}

.colour {
    background-color: #07f269;
}

.main {
    padding-top: 50px;
}